/*----------General Rules----------*/

body {
		color:#6a6b6f;
	}

	.form-horizontal .control-label {	    
	    font-size: 20px;
	}
	
	.footer {
		bottom:0;
		right: 0;
    	left: 0;
    	z-index: 1030;
    	position:static;
	}

	header, .footer {
	  	background-color:#00bae4;
	  	padding:75px 0 0 75px; 
	}

	.form-control {   
	    font-size: 25px;
	}	

	.alert-danger {    
	    font-size: 16px;
	    text-align: center;
	    padding-top: 10px;
    	padding-bottom: 10px;
	} 

	.alert {		
		background: #fff;
	    border: #fff;	    
	}

	.btn-lg {
	    padding: 16px 26px;
	    font-size: 25px;
	    font-weight: 900;    
	    border-radius: 25px;
	}

	input[type=checkbox]{
		width: 22px;
	    height: 22px;
	}

	.vertical-align {
	    display: block;	   
	}

	.remember-me {
		margin-left: 15px;
	    font-size: 20px;
	    margin-bottom: 0px;
	} /*Remember me text styling*/

	.modal-body {
		margin-bottom:0;
	}

	.modal-dialog {
		width: 95%;
		margin-top: 230px;
    	margin-right: 25px;
	    margin-bottom: 0px;
	}

	.e-glyph, .p-glyph {
		display:none;
	}	

	.img-responsive {
		margin: 0 auto;
	}

/*----------Mobile view (768px++)----------*/
@media (min-width: 768px) {	

	.footer {		
    	position:fixed;
	}
	
	.modal-dialog {
		width: 77.5%;
		margin-top: 230px;
    	margin-right: 25px;	   
	}	

	.alert-danger {	    
	    padding-top: 15px;
    	padding-bottom: 15px;
	} 
}

/*----------Tablet view (970px++)----------*/
@media (min-width: 970px) {

	.container {
		width: 95%;
	}	

	.form-horizontal {
		margin-left: 30px;		
	}

	.top-position {
		margin-top: 10.5%;	
	} /*form-position*/

	.image-top {
		margin-top: 7%;
	}

	.alert-danger {    
	    font-size: 20px;
	    text-align: center;
	} /*change*/		

	.modal-dialog {
		width: 42%;
		margin-top: 95px;    	
    	margin-right: 43px;	    
	}
}

/*----------Desktop view (1200px++)----------*/

@media (min-width: 1200px) {	

	.vertical-align {
	    display: flex;
	    align-items: center;
	} /*align to center in the row*/	

	.form-horizontal {
		margin-left: 30px;		
	}

	.top-position {
		margin-top: 12%;	
	} /*form-position*/

	.image-top {
		margin-top: 1.5%;
	}

	.alert-danger, .modal-body {    
	    font-size: 24px;
	    text-align: center;
	    margin: 0 auto;
	}		

	.modal-dialog {
		margin-right: 85px;
	    margin-top: 115px;	    
	}
}

