/*----------General Rules----------*/

/*----------Index Page----------*/
body {
		color:#6a6b6f;
	}

	.form-horizontal .control-label {
	    font-size: 20px;
	}

	.footer {
		bottom:0;
		right: 0;
    	left: 0;
    	position:static;
	}

	header, .footer {
	  	background-color:#00bae4;
	  	padding:75px 0 0 0;
	}

	.form-control {
	    font-size: 25px;
	}

	.alert-danger {
	    font-size: 16px;
	    text-align: center;
	    padding-top: 10px;
    	padding-bottom: 10px;
	}

	.alert {
		background: #fff;
	    border: #fff;
	}

	.btn-lg {
	    padding: 16px 26px;
	    font-size: 25px;
	    font-weight: 900;
	    border-radius: 25px;
	}

	input[type=checkbox]{
		width: 22px;
	    height: 22px;
	}

	.vertical-align {
	    display: block;
	}

	.remember-me {
		margin-left: 15px;
	    font-size: 20px;
	    margin-bottom: 0px;
	} /*Remember me text styling*/

	.modal-body {
		margin-bottom:0;
	}

	.modal-dialog {
		width: 95%;
		margin-top: 230px;
    	margin-right: 25px;
	    margin-bottom: 0px;
	}

	.e-glyph, .p-glyph {
		display:none;
	}

	.img-responsive {
		margin: 0 auto;
	}

	.header-p {
		color:#fff;
		text-align: center;
	    font-size: 14px;
	    margin: 0;
	    letter-spacing: 3px;
		font-variant: small-caps;
	}

/*----------Groups/Students Main-----------*/

	.ft-grp {
		bottom:0;
		right: 0;
    	left: 0;
    	z-index: 1030;
    	position:static;
	}

	.hd-grp, .ft-grp {
		background-color:#00bae4;
		padding-top: 10px;
    padding-bottom: 10px;
		}

	.well-sm {
		color: #474747;
		margin-top:10px;
		margin-bottom:10px;
		background-color: #f5eafe;
		border-radius: 25px;
	}

	h1 {
	    font-variant: small-caps;
	    text-align: center;
	    margin: 0 auto;
	    font-weight: 600;
	}

	.gr-st-btn {
		width: 92.5%;
    	margin: 0 auto;
    	display: block;
    	padding-top: 32px;
    	padding-bottom: 32px;
    	margin-bottom: 8px;
    	font-variant: small-caps;
	    font-weight: 600;
	    font-size: 20px;
	    letter-spacing: 3px
	}

	.btn-purple {
	  background-color: #7A1994;
	  border-color: #400052;
	  color:#fff;
	}

	.btn-purple:hover,
	.btn-purple:focus {
	  color:#fff;
	  background-color: #56006d;
	}

/*----------PIN MAIN-----------------------*/

	.greet {
		font-size:28px;
		font-variant:inherit;
	}

	.call-to-pin {
		font-weight: 600;
		text-align: center;
	    margin: 0 auto;
	    color:#d9534f;
	    font-size: 16px;
	}

	.dial-btn, .escape-dial-btn, .submit-dial-btn, .check-btn {
    	width: 100%;
    	margin: 0 auto;
    	display: block;
    	padding-top: 32px;
    	padding-bottom: 32px;
    	margin-bottom: 8px;
	    font-weight: 600;
	    font-size: 20px;
	    border-radius:5px;
	}

	.container-pin {
		margin-left: 10px;
    	margin-right: 10px;
	}

	.dial-left {
		padding-right:0;
	}

	.dial-right {
		padding-left:0;
	}

	.dial-center {
		padding-right:7px;
		padding-left:7px;
	}

	.well-pin {
		border-radius:5px;
		padding-top: 0px;
	    padding-bottom: 0px;
	    margin-bottom: 0px;
	    background: transparent;
	    border: solid 0;
	    margin-top: 7px;
	}

	.well-pin-input {
		border-radius:5px;
		background-color: rgba(0, 186, 228, 0.3);
		margin-top: 3px;
	}

	.input-pin {
		text-align: center;
		width: 50%;
   		margin: 0 auto;
    	font-size: 52px;
    	font-weight: 900;
	}

	.pin-alert {
		margin-top: 5px;
		margin-left: 2%;
	}

	/*-----Check Main------*/

	.well-check {
		border-radius:5px;
		background-color: #00bae4;
		padding-top: 2px;
    padding-bottom: 2px;
		color:#fff;
		margin-bottom:20px;
	}

	.greet-check {
		font-size:18px;
		margin-bottom: 0px;
		text-align: center;
		font-weight: 700;
	}

	.check-btn {
		padding-top: 55px;
    	padding-bottom: 55px;
    	margin-top: 0;
    	margin-bottom: 20px;
	}

	.btn-return-to-main {
		margin-top:18px;
		padding-top: 20px;
    padding-bottom: 20px;
		font-size: 20px;
	}

	.check-header-name, .check-header-status {
		 margin-top: 20px;
		 color: #337ab7;
		 font-weight: 800;
		 text-align: center;
		 font-size: 20px;
	}

	.check-header-status {
		margin-top: 10px;
		margin-bottom:15px;
		color: #00bae4;
		font-weight: 500;
		font-size: 17px;
	}

	.check-status {
		padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 800;
		background: #5cb85c;
    color: #fff;
	}

@media (min-width:600px){
	/*---PIN Responsive---*/
	.hd-grp-pin {
		padding-left: 0px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

/*----------Mobile view (768px++)----------*/
/*----------Index Resonsive----------------*/
@media (min-width: 768px) {

	.footer {
    	position:fixed;
	}

	.modal-dialog {
		width: 77.5%;
		margin-top: 230px;
    	margin-right: 25px;
	}

	.alert-danger {
	    padding-top: 15px;
    	padding-bottom: 15px;
	}

/*----------Groups/Students Responsive-----------*/

	.ft-grp {
    	position:fixed;
	}

	h1 {
    	font-size: 65px;
	}

	.gr-st-btn {
    	padding-top: 55px;
    	padding-bottom: 55px;
    	margin-bottom: 15px;
    	font-size: 30px;
    	font-weight: 900;
	}

	.sm-left {
		padding-right:0;
	}

	.sm-right {
		padding-left:0;
	}

	.sm-center {
		padding-right:7px;
		padding-left:7px;
	}

	.gr-st-btn {
	    font-size: 18px;
	    letter-spacing: 0px;
	    font-variant:normal;
	}

	.header-p {
    font-size: 19px;
	}

/*----------PIN Responsive-----------------------*/
	.call-to-pin {
		font-size: 22px;
	}
	.greet {
		font-size:36px;
	}
	.dial-btn, .submit-dial-btn, .escape-dial-btn {
		padding-top: 35px;
    	padding-bottom: 35px;
    	margin-bottom: 15px;
    	font-size: 30px;
    	font-weight: 900;
	}

	.pin-alert {
		margin-top: 116px;
	    margin-left: 80px;
	    margin-right: 0px;
	}

	.modal-body-pin {
		padding-top: 10px;
	    padding-bottom: 10px;
	    font-size: 23px;
	}

/*-----Check Responsive-----*/

	.container-check {
		width: 80%;
    	margin: 0 auto;
	}
}

/*----------Tablet view (970px++)----------*/
@media (min-width: 970px) {

	.container {
		width: 95%;
	}

	.form-horizontal {
		margin-left: 30px;
	}

	.top-position {
		margin-top: 10.5%;
	} /*form-position*/

	.image-top {
		margin-top: 7%;
	}

	.alert-danger {
	    font-size: 20px;
	    text-align: center;
	} /*change*/

	.modal-dialog {
		width: 42%;
		margin-top: 95px;
    	margin-right: 43px;
	}

/*---------PIN Responsive----------*/
	.input-pin {
    	width: 30%;
	}

	.pin-alert {
		margin-top: 120px;
    	margin-left: 280px;
	}

/*-----Check Responsive-----*/

	.container-check {
		width: 75%;
   	}

   	.check-header-name {	    
	    font-size: 30px;
	}

	.check-header-status {	    
	    font-size: 21px;
	}
}

/*----------Desktop view (1200px++)----------*/

@media (min-width: 1200px) {

	.footer {
    	position:static;
	}

	.vertical-align {
	    display: flex;
	    align-items: center;
	} /*align to center in the row*/

	.form-horizontal {
		margin-left: 30px;
	}

	.top-position {
		margin-top: 12%;
	} /*form-position*/

	.image-top {
		margin-top: 1.5%;
	}

	.alert-danger, .modal-body {
	    font-size: 24px;
	    text-align: center;
	    margin: 0 auto;
	}

	.modal-dialog {
		margin-right: 85px;
	    margin-top: 115px;
	}

/*--------Students Responsive-----------*/

	.lg-b {
			letter-spacing: inherit;
		}

	.gr-st-btn {
	    font-size: 15px;
	}

	.st-row {
		padding:0;
	}

/*-------PIN Responsive--------*/

	.dial-btn, .submit-dial-btn, .escape-dial-btn {
		padding-top: 25px;
    	padding-bottom: 25px;
	}

	.greet {
    	font-size: 30px;
    	letter-spacing: 2px;
	}

	.well-pin-input {
		padding-top: 5px;
    	padding-bottom: 5px;
	}

	.container {
    	width: 70%;
    	margin: 0 auto;
	}

	.pin-alert {
		margin-left: 390px;
    	margin-top: 105px;
	}
/*-----Check Responsive-----*/

	.container-check {
		width: 60%;
   	}

   	.check-btn {
   		padding-top: 45px;
    	padding-bottom: 45px;
   	}

   	.check-header-name {
   		margin-top: 5px;
   	}

   	.check-header-status {
   		margin-bottom: 0;
   	}
}
